@import "tailwindcss";

@font-face {
  font-family: 'Gang of Three';
  src: url('/GangOfThree.woff2') format('woff2'),
       url('/GangOfThree.ttf') format('truetype');
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-glow {
  box-shadow: 0 0 15px rgba(255, 224, 138, 0.5), 0 0 30px rgba(0, 200, 200, 0.3);
}

/* Custom animations for hero section */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animation-delay-300 {
  animation-delay: 0.3s;
  opacity: 0;
}

.bungee-font {
  font-family: 'Bungee Inline', cursive;
}


select {
  background-color: rgba(35, 0, 53, 0.95) !important;
  border-radius: 0.75rem !important;
  color: #916BB1 !important;
}

select option {
  background-color: #1a0225 !important;
  color: #916BB1 !important;
}

select:not(:invalid) {
  color: #916BB1 !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #e5d9ff;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #9b4dff #2a003a;
}


.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(20, 0, 40, 0.4);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c56bff, #7a1fff);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e69bff, #a24bff);
}
